body
{
  font-family: 'Tenali Ramakrishna', sans-serif;
  background-color: aqua;
}
.header_div
{
    background:chocolate ;
    color: cyan;
}
.header_div p
{
  font-family: 'Tenali Ramakrishna', sans-serif;
  color: aquamarine;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}
._main_button
{
    font-family:'Tenali Ramakrishna', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer
{
    position: fixed;
    color:crimson;
    background-color: cadetblue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow:  5px 5px 5px darkorchid;
}